name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          ./dist/build.sh ./scripts/gitb.sh ./dist/gitb
          chmod +x ./dist/gitb

      - name: Install BATS
        run: |
          sudo apt-get update
          sudo apt-get install -y bats

      - name: Run BATS Tests
        run: |
          cd tests
          bats *.bats

      - name: Smoke Test
        run: ./dist/gitb; if [ $? -ne 0 ]; then exit 1; fi
